{% extends "base.html" %}

{% block title %}About | Zeroni's Pizza{% endblock %}

{% block content %}
    <div id="about-container">
        <h1>About us</h1>
        <div id="about-card">
            <p>At Zeroni’s Pizza, every slice has a story—and it starts with our dog, Zero. Zero isn’t just a pup; he’s our loyal taste-tester and chief morale officer. Whenever we’re making fresh dough, chopping the finest toppings, or experimenting with new flavors, Zero is right there, tail wagging, making sure everything passes the ultimate approval: his nose. Inspired by Zero’s love for the simple joys in life—and, of course, pizza—Zeroni’s Pizza was born: a place where every pie is made fresh, with high-quality ingredients and a lot of heart. When you take a bite, know that Zero approves—he’s still here, watching, wagging, and reminding us that great pizza is all about passion, fun, and a little furry inspiration.</p>
        </div>
    </div>
{% endblock %}